border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    -ms-border-radius n
    border-radius n

h1
    font-size 2rem
    border-radius(10%)

.btn-square
    border: 1px black solid
    padding: 10px
    margin: 1px
